
# ==================================
# Java stuff
# ==================================

*.class
*.jar
*.war
*.ear


# ==================================
# Maven
# ==================================

/target/


# ==================================
# Eclipse
# ==================================

.settings
.metadata
Servers
bin


# ==================================
# SpringSource Tool Suite
# ==================================

.springBeans

# ==================================
# Netbeans
# ==================================

/build/
/dist/
/nbproject/
/nbproject/*
nbbuild.xml
nbactions.xml
manifest.mf
/libs/


# ==================================
#IntelliJ
# ==================================

*.iml


# ==================================
# Emacs
# ==================================

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp


# ==================================
# Vi(m)
# ==================================

*.swp
*.swo


# ==================================
# Textmate
# ==================================

*.tmproj
tmtags


# ==================================
# *nix (Linux, Unix, OS X, BSD, et al.)
# ==================================

.*
*~


# ==================================
# Apple OS X
# ==================================

.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes


# ==================================
# Microsoft Windows
# ==================================

ehthumbs.db
Thumbs.db
Desktop.ini
*.sw[a-p]



# ==================================
# KDE
# ==================================

.directory



# ==================================
# Explicit includes (exceptions to previous rules)
# ==================================

!.gitignore
